<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064099031126-rsngjnl6urqkdh6839j1p63rpgdrbaf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064099031126-rsngjnl6urqkdh6839j1p63rpgdrbaf4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1064099031126-702v8s2r0shnt66qhj8v975elercmqsa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgHwmWUI8-C7-ZMxyRrZd9BIqffkZQoV8</string>
	<key>GCM_SENDER_ID</key>
	<string>1064099031126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneytrail</string>
	<key>PROJECT_ID</key>
	<string>moneytrail-b1f88</string>
	<key>STORAGE_BUCKET</key>
	<string>moneytrail-b1f88.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064099031126:ios:233b2be0c1748f43f733f7</string>
</dict>
</plist>